/* =================================
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1024px;
  margin: auto;
}

body {
  background: #f7f7f7;
  min-width: 320px;
  font-family: 'Rubik', Helvetica, sans-serif;
  line-height: 1.5em;
  font-weight: 300;
  color: #828282;
  margin: 0 auto;
}

p {
  font-size: .95em;
  padding-bottom: 1.5em;
}

a {
  text-decoration: none;
  color: #545454;
}

h1 {
  margin: 0;
}

h2 {
  text-transform: uppercase;
  color: #545454;
  font-size: .95em;
  padding: 40px 0;
  margin: 0;
}

h3 {
  font-size: 1.25em;
  font-weight: 400;
  margin-top: 25px;
  padding: 0;
}

h4 {
  margin: 0;
}

img {
  max-width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
  font-size: 1.75em;
  margin: 0;
}

.main-nav {
  margin: 15px 0 15px;
}


.name a,
.main-nav a {
  display: block;
  text-align: center;
  padding: 10px 15px;
}

.main-nav a {
  text-transform: uppercase;
  background-color: white;
  margin-top: 5px;
  font-weight: 500;
  font-size: 1em;
}

.main-nav a:hover {
  color: #999;
}

.phone {
  padding-bottom: 0;
}

.footer-nav {
  display: none;
}



/* ---- Layout Containers ---- */

.main-header,
.banner {
  text-align: center;
  padding: 20px;
}

.banner p {
  padding: 0 5px;
}

.main-content {
  text-align: center;
  background: white;
}

.col {
  padding-right: 1em;
  padding-left: 1em;
}

.contact {
  text-align: center;
  padding: 20px 20px;
}

.contact span {
  font-weight: 500;
}

.main-footer {
  width: 90%;
  margin: 0 auto;
  padding: 20px 5px;
  border-top: 1px solid #c6c6c6;
}

.back-to-top {
  display: inline-block;
  float: right;
  text-transform: uppercase;
}

.student-name {
  display: inline-block;
}

.profile-pic {
  width: 75%;
}


/* ---- Page Elements ---- */




/* =================================
  Media Queries
==================================== */

@media (min-width: 768px) {   /* ---- ---- MEDIA QUERY 768px ---- ---- */

  .main-header {
    padding: 40px 30px 20px;
  }

  .main-header p {
    font-size: 1.25em;
    line-height: 1.5em;
    text-align: left;
  }

  .main-nav li {
    display: inline-block;
  }

  .main-nav a {
    background-color: transparent;
    margin-top: 0;
  }

  .main-nav {
    margin-bottom: 0;
  }

  .banner {
    background: #f7f7f7;
    padding: 30px 30px 60px;
  }

  .banner p {
    width: 60%;
    text-align: left;
    font-size: 1.3em;
    line-height: 1.3em;
    margin: 0;
  }

  .profile-pic {
    display: inline-block;
    float: right;
    width: 40%;
    margin-left: 20px;
  }

  .main-content {
    width: 100%;
    margin: 0 auto;
    padding: 1.875em;
  }

 /* ---- ---- columns ---- ---- */

  .col {
    float: left;
    padding-left: .5em;
    padding-right: .5em;
  }

  .marketing,
  .search,
  .travel,
  .map,
  .gallery,
  .calculator {
    width: 50%;
  }

  /* ---- ---- columns ---- ---- */

  .contact {
    padding: 20px 60px 60px;
  }

  .contact p {
  font-size: 1.25em;
  line-height: 1.5em;
  padding: 0 90px;
  }

  .phone {
    margin-top: 50px;
  }

  .main-footer {
    padding: 25px 30px 80px;
  }

  .back-to-top {
    display: none;
  }

  .footer-nav {
    display: block;
    float: right;
  }

  .footer-nav li {
    display: inline-block;
    margin-left: 20px;
  }

  .footer-nav a {
    text-transform: uppercase;
    font-weight: 500;
    font-size: .8em;
  }

}


@media (min-width: 1024px) {   /* ---- ---- MEDIA QUERY 1024px ---- ---- */


  .banner p {
    font-size: 1.3em;
  }

  .main-nav {
    float: right;
  }

  .main-nav li {
    float: left;
  }

  .main-nav li a {
    padding: 0;
    margin-left: 30px;
  }

  .name a {
    float: left;
    padding: 0;
  }

  .profile-pic {
    margin-left: 40px;
  }

/* ---- ---- columns ---- ---- */

  .col {
    float: left;
    padding-left: .5em;
    padding-right: .5em;
  }

  .marketing,
  .search,
  .travel,
  .map,
  .gallery,
  .calculator {
    width: 33.33%;
  }

/* ---- ---- columns ---- ---- */


}   /* ---- ---- END MEDIA QUERY 1024px ---- ---- */



/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
